* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  font-family: 'Oswald', sans-serif;
}

/* Hero Section */
section.Hero {
  margin: 0;
  height: 100vh;
  background-color: #9C383C;
}

.diamond {
  position: relative;
  top: -12rem;
  left: 0;
  background-color: #9C383C;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.56) 100%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  margin: 60px auto;
  background-blend-mode: multiply;
}